html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans",sans serif;
    -moz-tab-size: 4;
    tab-size: 4;
    color: #313135;
    background-color: #fff;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.618;
    transition: all .5s;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

.container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.header {
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.header-wrapper {
    padding: 1em 0;
    -webkit-backdrop-filter: saturate(180%) blur(1em);
    backdrop-filter: saturate(180%) blur(1em);
    background: linear-gradient(220deg, rgba(247,149,51,0.101961) 0, rgba(243,112,85,0.101961) 15%, rgba(239,78,123,0.101961) 30%, rgba(161,102,171,0.101961) 44%, rgba(80,115,184,0.101961) 58%, rgba(16,152,173,0.101961) 72%, rgba(7,179,155,0.101961) 86%, rgba(109,186,130,0.101961) 100%);
    transition: background .5s;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 57em;
}

.site-brand {
    margin: 0 1em;
    font-family: "Open Sans",light italic;
}

.brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
}


svg {
    vertical-align: middle;
}

.main {
    padding: 7em 1em 300px;
    display: block;
    overflow: scroll;
}

.single .main-inner {
    max-width: 57em;
}

.main-inner {
    margin: 0 auto;
    display: block;
}

.post-body {
    margin-top: 0.5em !important;
}

.post-body table {
    margin: 0 auto;
}

.post-body table td {
    padding: 10px;
}

.post-body table tr td:first-child {
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 300px;
    z-index: 999;
    overflow: scroll;
    font-size: 90%;
    color: hsla(240, 1%, 48%, 0.8);
    background: linear-gradient(to right,#f795331a 0,#f370551a 15%,#ef4e7b1a 30%,#a166ab1a 44%,#5073b81a 58%,#1098ad1a 72%,#07b39b1a 86%,#6dba821a 100%);
}

.footer-inner {
    padding: 1em;
}

.footer-inner img {
    display: block;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
}

.footer-cols {
    display: flex;
    flex-wrap: wrap;
}

.footer-cols > div {
    flex: 1;
    min-width: 300px;
    padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.3em 0 0.1em;
    color: #1c1c21;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}